#!/bin/bash

export ICOMFORT_USERNAME=''
export ICOMFORT_PASSWORD=''
export ICOMFORT_COOKIE_SESSION_ID=''
export ICOMFORT_COOKIE_USER='username='
export ICOMFORT_GATEWAY_SERIAL=''
export ICOMFORT_USER_ID=''